@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

@media only screen and (max-width: 530px) {
    #meeting-list-header {
        font-size: large;
    }
}

#content {
    width: 80vw;
    margin: 1rem auto;
}

@media only screen and (max-width: 1245px) {
    #content {
        width: 960px;
    }
}

@media only screen and (max-width: 1000px) {
    #content {
        width: auto;
        margin: 1rem;
    }
}

#logo {
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
}

#main-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

@media only screen and (max-width: 940px) {
    #main-container {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
    }
}

#meeting-list-header {
    margin-bottom: 1rem;
}

#calendar-toast {
    flex-basis: 10%
}

@media only screen and (max-width: 940px) {
    #calendar-toast {
        min-width: 100%;
    }
}

#groups-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.meeting-toast {
    min-width: 100%;
}

.meeting-card-line {
    min-height: 1.2rem;
    min-width: 100%;
}

.copied-alert {
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: small;
    color: white;
    background-color: black;
}

.participant-label {
    margin-right: 0.2rem;
}

.meeting-text {
    margin-right: 0.2rem;
}

.header-icon {
    margin: 0 1rem;
    height: 1.5rem;
}

.notification-count {
    height: 1.2rem;
    font-size: small;
}

.groups-list-item {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.participant-options {
    display: flex;
    justify-content: space-around;
}

.group-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.group-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-content {
    flex-grow: 1;
}

.group-tabs {
    /*width: 100%;*/
    /*justify-self: center;*/
    margin-left: auto;
    margin-right: auto;
}

.groups-list {
    /*background-color: lime;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

#sign-on {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-on-logo {
    font-family: 'Oleo Script', cursive;
    font-size: 5rem;
    margin: 3rem 0;

}

.sign-on-form {
    width: 50vw;
}

@media only screen and (max-width: 1000px) {
    .sign-on-form {
        width: 90vw;
    }
}

.sign-on-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participants-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

